<!-- recipes-new.handlebars -->

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <legend>New Recipe</legend>
        <form action="/recipes" method="POST">
            {{> recipes-form }}
        </form>
    </div>
</div>
