<!-- recipes-show.handlebars -->

<a href="/">Back to Home</a>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{recipe.name}}</h1>
        <p>{{recipe.description}}</p>
        <p>{{recipe.ingredients}}</p>
        <p>{{recipe.instructions}}</p>
    </div>
</div>
